<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>S-G</key>
	<dict>
		<key>Calculator</key>
		<dict>
			<key>NavBar</key>
			<dict>
				<key>BarColor</key>
				<string>c#255,255,255,100</string>
				<key>TitleFont</key>
				<string>s#Neon 80s</string>
				<key>TitleSize</key>
				<string>n#24</string>
				<key>TitleFontColor</key>
				<string>c#0,150,124,100</string>
				<key>Translucent</key>
				<string>b#YES</string>
				<key>BarAlpha</key>
				<string>n#0.7</string>
				<key>BarItemTintColor</key>
				<string>c#0,150,124,100</string>
				<key>History</key>
				<dict>
					<key>Img</key>
					<string>s#S-C-History</string>
				</dict>
			</dict>
			<key>BackgroundImg</key>
			<string>s#S-G-C-Bg</string>
			<key>CalculatorLabel</key>
			<dict>
				<key>TextColor</key>
				<string>c#0,150,124,100</string>
				<key>TextFont</key>
				<string>s#Lato-Regular</string>
				<key>TextSize</key>
				<string>n#38</string>
				<key>BgColor</key>
				<string>c#255,255,255,0</string>
			</dict>
			<key>InputLabel</key>
			<dict>
				<key>TextColor</key>
				<string>c#0,150,124,100</string>
				<key>TextFont</key>
				<string>s#Lato-Regular</string>
				<key>TextSize</key>
				<string>n#80</string>
				<key>BgColor</key>
				<string>c#255,255,255,0</string>
			</dict>
			<key>BtnClearAll</key>
			<dict>
				<key>FrontImg</key>
				<string>s#S-C-BtnClearAll</string>
				<key>BgImg</key>
				<string>s#S-G-C-BtnOpratorBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>HighlightTintColor</key>
				<string>c#120,192,116,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>BtnPlusMinus</key>
			<dict>
				<key>FrontImg</key>
				<string>s#S-C-BtnPlusMinus</string>
				<key>BgImg</key>
				<string>s#S-G-C-BtnOpratorBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>HighlightTintColor</key>
				<string>c#120,192,116,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>BtnPercent</key>
			<dict>
				<key>FrontImg</key>
				<string>s#S-C-BtnPercent</string>
				<key>BgImg</key>
				<string>s#S-G-C-BtnOpratorBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>HighlightTintColor</key>
				<string>c#120,192,116,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>BtnBackward</key>
			<dict>
				<key>FrontImg</key>
				<string>s#S-C-BtnBackward</string>
				<key>BgImg</key>
				<string>s#S-G-C-BtnOpratorBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>HighlightTintColor</key>
				<string>c#120,192,116,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>BtnDivide</key>
			<dict>
				<key>FrontImg</key>
				<string>s#S-C-BtnDivide</string>
				<key>BgImg</key>
				<string>s#S-G-C-BtnOpratorBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>HighlightTintColor</key>
				<string>c#120,192,116,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>BtnTime</key>
			<dict>
				<key>FrontImg</key>
				<string>s#S-C-BtnTime</string>
				<key>BgImg</key>
				<string>s#S-G-C-BtnOpratorBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>HighlightTintColor</key>
				<string>c#120,192,116,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>BtnAdd</key>
			<dict>
				<key>FrontImg</key>
				<string>s#S-C-BtnAdd</string>
				<key>BgImg</key>
				<string>s#S-G-C-BtnOpratorBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>HighlightTintColor</key>
				<string>c#120,192,116,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>BtnSubtract</key>
			<dict>
				<key>FrontImg</key>
				<string>s#S-C-BtnSubtract</string>
				<key>BgImg</key>
				<string>s#S-G-C-BtnOpratorBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>HighlightTintColor</key>
				<string>c#120,192,116,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>BtnEqual</key>
			<dict>
				<key>FrontImg</key>
				<string>s#S-C-BtnEqual</string>
				<key>BgImg</key>
				<string>s#S-G-C-BtnDigitalBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>HighlightTintColor</key>
				<string>c#120,192,116,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>BtnDot</key>
			<dict>
				<key>FrontImg</key>
				<string>s#S-C-BtnDot</string>
				<key>BgImg</key>
				<string>s#S-G-C-BtnDigitalBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>HighlightTintColor</key>
				<string>c#120,192,116,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>Btn0</key>
			<dict>
				<key>FrontImg</key>
				<string>s#</string>
				<key>BgImg</key>
				<string>s#S-G-C-BtnDigitalBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>HighlightTextColor</key>
				<string>c#120,192,116,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>Btn1</key>
			<dict>
				<key>FrontImg</key>
				<string>s#</string>
				<key>BgImg</key>
				<string>s#S-G-C-BtnDigitalBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>HighlightTextColor</key>
				<string>c#120,192,116,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>Btn2</key>
			<dict>
				<key>FrontImg</key>
				<string>s#</string>
				<key>BgImg</key>
				<string>s#S-G-C-BtnDigitalBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>HighlightTextColor</key>
				<string>c#120,192,116,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>Btn3</key>
			<dict>
				<key>FrontImg</key>
				<string>s#</string>
				<key>BgImg</key>
				<string>s#S-G-C-BtnDigitalBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>HighlightTextColor</key>
				<string>c#120,192,116,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>Btn4</key>
			<dict>
				<key>FrontImg</key>
				<string>s#</string>
				<key>BgImg</key>
				<string>s#S-G-C-BtnDigitalBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>HighlightTextColor</key>
				<string>c#120,192,116,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>Btn5</key>
			<dict>
				<key>FrontImg</key>
				<string>s#</string>
				<key>BgImg</key>
				<string>s#S-G-C-BtnDigitalBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>HighlightTextColor</key>
				<string>c#120,192,116,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>Btn6</key>
			<dict>
				<key>FrontImg</key>
				<string>s#</string>
				<key>BgImg</key>
				<string>s#S-G-C-BtnDigitalBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>HighlightTextColor</key>
				<string>c#120,192,116,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>Btn7</key>
			<dict>
				<key>FrontImg</key>
				<string>s#</string>
				<key>BgImg</key>
				<string>s#S-G-C-BtnDigitalBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>HighlightTextColor</key>
				<string>c#120,192,116,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>Btn8</key>
			<dict>
				<key>FrontImg</key>
				<string>s#</string>
				<key>BgImg</key>
				<string>s#S-G-C-BtnDigitalBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>HighlightTextColor</key>
				<string>c#120,192,116,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>Btn9</key>
			<dict>
				<key>FrontImg</key>
				<string>s#</string>
				<key>BgImg</key>
				<string>s#S-G-C-BtnDigitalBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>HighlightTextColor</key>
				<string>c#120,192,116,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
		</dict>
		<key>Converter</key>
		<dict/>
		<key>History</key>
		<dict/>
		<key>MainMenu</key>
		<dict>
			<key>BgImg</key>
			<string>s#S-G-M-Bg</string>
			<key>HalfTransColor</key>
			<string>c#255,255,255,0</string>
			<key>BtnView</key>
			<dict>
				<key>BgImg</key>
				<string>s#S-M-BtnBg</string>
				<key>TextFont</key>
				<string>s#Lato-Light</string>
				<key>TextSize</key>
				<string>n#17</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
			</dict>
			<key>BtnIconTime</key>
			<dict>
				<key>BottomImg</key>
				<string>s#S-M-TimeBottom</string>
				<key>BottomTintColor</key>
				<string>c#0,0,0,100</string>
				<key>TopImg</key>
				<string>s#S-M-TimeTop</string>
				<key>TopTintColor</key>
				<string>c#0,150,124,100</string>
			</dict>
		</dict>
		<key>Themes</key>
		<dict/>
	</dict>
	<key>Z-G</key>
	<dict>
		<key>Calculator</key>
		<dict>
			<key>NavBar</key>
			<dict>
				<key>BarColor</key>
				<string>c#64,204,177,100</string>
				<key>TitleFont</key>
				<string>s#Lato-Medium</string>
				<key>TitleSize</key>
				<string>n#25</string>
				<key>TitleFontColor</key>
				<string>c#255,255,255,100</string>
				<key>Translucent</key>
				<string>b#NO</string>
				<key>BarAlpha</key>
				<string>n#1</string>
				<key>BarItemTintColor</key>
				<string>c#255,255,255,100</string>
				<key>History</key>
				<dict>
					<key>Img</key>
					<string>s#Z-C-History</string>
				</dict>
			</dict>
			<key>BackgroundImg</key>
			<string>s#Z-G-C-Bg</string>
			<key>CalculatorLabel</key>
			<dict>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>TextFont</key>
				<string>s#Lato-Regular</string>
				<key>TextSize</key>
				<string>n#38</string>
				<key>BgColor</key>
				<string>c#30,30,30,100</string>
			</dict>
			<key>InputLabel</key>
			<dict>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>TextFont</key>
				<string>s#Lato-Regular</string>
				<key>TextSize</key>
				<string>n#80</string>
				<key>BgColor</key>
				<string>c#30,30,30,100</string>
			</dict>
			<key>BtnClearAll</key>
			<dict>
				<key>FrontImg</key>
				<string>s#Z-C-BtnClearAll</string>
				<key>BgImg</key>
				<string>s#Z-G-C-BtnBg</string>
				<key>TintColor</key>
				<string>c#64,204,177,100</string>
				<key>HighlightTintColor</key>
				<string>c#30,30,30,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>TextFont</key>
				<string>s#Lato-Light</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>BtnPlusMinus</key>
			<dict>
				<key>FrontImg</key>
				<string>s#Z-C-BtnPlusMinus</string>
				<key>BgImg</key>
				<string>s#Z-G-C-BtnBg</string>
				<key>TintColor</key>
				<string>c#64,204,177,100</string>
				<key>HighlightTintColor</key>
				<string>c#30,30,30,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>BtnPercent</key>
			<dict>
				<key>FrontImg</key>
				<string>s#Z-C-BtnPercent</string>
				<key>BgImg</key>
				<string>s#Z-G-C-BtnBg</string>
				<key>TintColor</key>
				<string>c#64,204,177,100</string>
				<key>HighlightTintColor</key>
				<string>c#30,30,30,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>BtnBackward</key>
			<dict>
				<key>FrontImg</key>
				<string>s#Z-C-BtnBackward</string>
				<key>BgImg</key>
				<string>s#Z-G-C-BtnBg</string>
				<key>TintColor</key>
				<string>c#64,204,177,100</string>
				<key>HighlightTintColor</key>
				<string>c#30,30,30,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>BtnDivide</key>
			<dict>
				<key>FrontImg</key>
				<string>s#Z-C-BtnDivide</string>
				<key>BgImg</key>
				<string>s#Z-G-C-BtnBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>HighlightTintColor</key>
				<string>c#30,30,30,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>BtnTime</key>
			<dict>
				<key>FrontImg</key>
				<string>s#Z-C-BtnTime</string>
				<key>BgImg</key>
				<string>s#Z-G-C-BtnBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>HighlightTintColor</key>
				<string>c#30,30,30,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>BtnAdd</key>
			<dict>
				<key>FrontImg</key>
				<string>s#Z-C-BtnAdd</string>
				<key>BgImg</key>
				<string>s#Z-G-C-BtnBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>HighlightTintColor</key>
				<string>c#30,30,30,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>BtnSubtract</key>
			<dict>
				<key>FrontImg</key>
				<string>s#Z-C-BtnSubtract</string>
				<key>BgImg</key>
				<string>s#Z-G-C-BtnBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>HighlightTintColor</key>
				<string>c#30,30,30,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>BtnEqual</key>
			<dict>
				<key>FrontImg</key>
				<string>s#Z-C-BtnEqual</string>
				<key>BgImg</key>
				<string>s#Z-G-C-BtnBg</string>
				<key>TintColor</key>
				<string>c#64,204,177,100</string>
				<key>HighlightTintColor</key>
				<string>c#30,30,30,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>BtnDot</key>
			<dict>
				<key>FrontImg</key>
				<string>s#Z-C-BtnDot</string>
				<key>BgImg</key>
				<string>s#Z-G-C-BtnBg</string>
				<key>TintColor</key>
				<string>c#64,204,177,100</string>
				<key>HighlightTintColor</key>
				<string>c#30,30,30,100</string>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>TextFont</key>
				<string>s#Neon 80s</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>Btn0</key>
			<dict>
				<key>FrontImg</key>
				<string>s#</string>
				<key>BgImg</key>
				<string>s#Z-G-C-BtnBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>TextColor</key>
				<string>c#64,204,177,100</string>
				<key>HighlightTextColor</key>
				<string>c#30,30,30,100</string>
				<key>TextFont</key>
				<string>s#Lato-Light</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>Btn1</key>
			<dict>
				<key>FrontImg</key>
				<string>s#</string>
				<key>BgImg</key>
				<string>s#Z-G-C-BtnBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>TextColor</key>
				<string>c#64,204,177,100</string>
				<key>HighlightTextColor</key>
				<string>c#30,30,30,100</string>
				<key>TextFont</key>
				<string>s#Lato-Light</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>Btn2</key>
			<dict>
				<key>FrontImg</key>
				<string>s#</string>
				<key>BgImg</key>
				<string>s#Z-G-C-BtnBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>TextColor</key>
				<string>c#64,204,177,100</string>
				<key>HighlightTextColor</key>
				<string>c#30,30,30,100</string>
				<key>TextFont</key>
				<string>s#Lato-Light</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>Btn3</key>
			<dict>
				<key>FrontImg</key>
				<string>s#</string>
				<key>BgImg</key>
				<string>s#Z-G-C-BtnBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>TextColor</key>
				<string>c#64,204,177,100</string>
				<key>HighlightTextColor</key>
				<string>c#30,30,30,100</string>
				<key>TextFont</key>
				<string>s#Lato-Light</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>Btn4</key>
			<dict>
				<key>FrontImg</key>
				<string>s#</string>
				<key>BgImg</key>
				<string>s#Z-G-C-BtnBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>TextColor</key>
				<string>c#64,204,177,100</string>
				<key>HighlightTextColor</key>
				<string>c#30,30,30,100</string>
				<key>TextFont</key>
				<string>s#Lato-Light</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>Btn5</key>
			<dict>
				<key>FrontImg</key>
				<string>s#</string>
				<key>BgImg</key>
				<string>s#Z-G-C-BtnBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>TextColor</key>
				<string>c#64,204,177,100</string>
				<key>HighlightTextColor</key>
				<string>c#30,30,30,100</string>
				<key>TextFont</key>
				<string>s#Lato-Light</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>Btn6</key>
			<dict>
				<key>FrontImg</key>
				<string>s#</string>
				<key>BgImg</key>
				<string>s#Z-G-C-BtnBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>TextColor</key>
				<string>c#64,204,177,100</string>
				<key>HighlightTextColor</key>
				<string>c#30,30,30,100</string>
				<key>TextFont</key>
				<string>s#Lato-Light</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>Btn7</key>
			<dict>
				<key>FrontImg</key>
				<string>s#</string>
				<key>BgImg</key>
				<string>s#Z-G-C-BtnBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>TextColor</key>
				<string>c#64,204,177,100</string>
				<key>HighlightTextColor</key>
				<string>c#30,30,30,100</string>
				<key>TextFont</key>
				<string>s#Lato-Light</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>Btn8</key>
			<dict>
				<key>FrontImg</key>
				<string>s#</string>
				<key>BgImg</key>
				<string>s#Z-G-C-BtnBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>TextColor</key>
				<string>c#64,204,177,100</string>
				<key>HighlightTextColor</key>
				<string>c#30,30,30,100</string>
				<key>TextFont</key>
				<string>s#Lato-Light</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
			<key>Btn9</key>
			<dict>
				<key>FrontImg</key>
				<string>s#</string>
				<key>BgImg</key>
				<string>s#Z-G-C-BtnBg</string>
				<key>TintColor</key>
				<string>c#255,255,255,100</string>
				<key>TextColor</key>
				<string>c#64,204,177,100</string>
				<key>HighlightTextColor</key>
				<string>c#30,30,30,100</string>
				<key>TextFont</key>
				<string>s#Lato-Light</string>
				<key>TextSize</key>
				<string>n#30</string>
			</dict>
		</dict>
		<key>Converter</key>
		<dict/>
		<key>History</key>
		<dict/>
		<key>MainMenu</key>
		<dict>
			<key>BgImg</key>
			<string>s#Z-G-M-Bg</string>
			<key>HalfTransColor</key>
			<string>c#234,234,234,50</string>
			<key>BtnView</key>
			<dict>
				<key>BgImg</key>
				<string>s#Z-M-BtnBg</string>
				<key>TextFont</key>
				<string>s#Lato-Light</string>
				<key>TextSize</key>
				<string>n#17</string>
				<key>TextColor</key>
				<string>c#0,0,0,100</string>
			</dict>
		</dict>
		<key>Themes</key>
		<dict/>
	</dict>
</dict>
</plist>
