<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>S-G</key>
	<dict>
		<key>Calculator</key>
		<dict>
			<key>NavBar</key>
			<dict>
				<key>BarColor</key>
				<string>c#255,255,255,100</string>
				<key>TitleFont</key>
				<string>s#Neon 80s</string>
				<key>TitleSize</key>
				<string>n#24</string>
				<key>TitleFontColor</key>
				<string>c#0,150,124,100</string>
				<key>Translucent</key>
				<string>b#YES</string>
				<key>BarAlpha</key>
				<string>n#0.7</string>
				<key>BarItemTintColor</key>
				<string>c#0,150,124,100</string>
				<key>History</key>
				<dict>
					<key>Img</key>
					<string>s#S-C-History</string>
				</dict>
			</dict>
			<key>BackgroundImg</key>
			<string>s#S-G-C-Bg</string>
			<key>CalculatorLabel</key>
			<dict>
				<key>TextColor</key>
				<string>c#0,150,124,100</string>
				<key>TextFont</key>
				<string>s#Lato-Regular</string>
				<key>TextSize</key>
				<string>n#38</string>
				<key>BgColor</key>
				<string>c#255,255,255,0</string>
			</dict>
			<key>InputLabel</key>
			<dict>
				<key>TextColor</key>
				<string>c#0,150,124,100</string>
				<key>TextFont</key>
				<string>s#Lato-Regular</string>
				<key>TextSize</key>
				<string>n#80</string>
				<key>BgColor</key>
				<string>c#255,255,255,0</string>
			</dict>
		</dict>
		<key>Converter</key>
		<dict/>
		<key>History</key>
		<dict/>
		<key>MainMenu</key>
		<dict/>
		<key>Themes</key>
		<dict/>
	</dict>
	<key>Z-G</key>
	<dict>
		<key>Calculator</key>
		<dict>
			<key>NavBar</key>
			<dict>
				<key>BarColor</key>
				<string>c#64,204,177,100</string>
				<key>TitleFont</key>
				<string>s#Lato-Medium</string>
				<key>TitleSize</key>
				<string>n#25</string>
				<key>TitleFontColor</key>
				<string>c#255,255,255,100</string>
				<key>Translucent</key>
				<string>b#NO</string>
				<key>BarAlpha</key>
				<string>n#1</string>
				<key>BarItemTintColor</key>
				<string>c#255,255,255,100</string>
				<key>History</key>
				<dict>
					<key>Img</key>
					<string>s#Z-C-History</string>
				</dict>
			</dict>
			<key>BackgroundImg</key>
			<string>s#Z-G-C-Bg</string>
			<key>CalculatorLabel</key>
			<dict>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>TextFont</key>
				<string>s#Lato-Regular</string>
				<key>TextSize</key>
				<string>n#38</string>
				<key>BgColor</key>
				<string>c#30,30,30,100</string>
			</dict>
			<key>InputLabel</key>
			<dict>
				<key>TextColor</key>
				<string>c#255,255,255,100</string>
				<key>TextFont</key>
				<string>s#Lato-Regular</string>
				<key>TextSize</key>
				<string>n#80</string>
				<key>BgColor</key>
				<string>c#30,30,30,100</string>
			</dict>
		</dict>
		<key>Converter</key>
		<dict/>
		<key>History</key>
		<dict/>
		<key>MainMenu</key>
		<dict/>
		<key>Themes</key>
		<dict/>
	</dict>
</dict>
</plist>
