<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>m</key>
		<integer>9</integer>
		<key>cm</key>
		<integer>1</integer>
		<key>mm</key>
		<integer>10</integer>
		<key>km</key>
		<integer>7</integer>
		<key>ft</key>
		<integer>5</integer>
		<key>yard</key>
		<integer>15</integer>
		<key>inch</key>
		<integer>3</integer>
		<key>mile</key>
		<integer>11</integer>
	</dict>
	<key>1</key>
	<dict>
		<key>c</key>
		<integer>0</integer>
		<key>f</key>
		<integer>1</integer>
		<key>k</key>
		<integer>2</integer>
	</dict>
	<key>2</key>
	<dict>
		<key>mph</key>
		<integer>18</integer>
		<key>kmh</key>
		<integer>9</integer>
		<key>mile/s</key>
		<integer>20</integer>
		<key>km/s</key>
		<integer>12</integer>
	</dict>
	<key>3</key>
	<dict>
		<key>m\u00B2</key>
		<integer>9</integer>
		<key>km\u00B2</key>
		<integer>8</integer>
		<key>ft\u00B2</key>
		<integer>6</integer>
		<key>yd\u00B2</key>
		<integer>13</integer>
		<key>acre</key>
		<integer>0</integer>
		<key>mil\u00B2</key>
		<integer>10</integer>
		<key>in\u00B2</key>
		<integer>7</integer>
		<key>Hectare</key>
		<integer>2</integer>
	</dict>
	<key>4</key>
	<dict>
		<key>gallon</key>
		<integer>21</integer>
		<key>floz</key>
		<integer>29</integer>
		<key>liter</key>
		<integer>24</integer>
		<key>ml</key>
		<integer>25</integer>
	</dict>
	<key>5</key>
	<dict>
		<key>kg</key>
		<integer>6</integer>
		<key>g</key>
		<integer>4</integer>
		<key>lb</key>
		<integer>12</integer>
		<key>oz</key>
		<integer>9</integer>
		<key>ton</key>
		<integer>20</integer>
	</dict>
	<key>6</key>
	<dict>
		<key>day</key>
		<integer>3</integer>
		<key>hour</key>
		<integer>6</integer>
		<key>min</key>
		<integer>10</integer>
		<key>sec</key>
		<integer>13</integer>
		<key>week</key>
		<integer>15</integer>
		<key>year</key>
		<integer>16</integer>
		<key>century</key>
		<integer>1</integer>
		<key>decade</key>
		<integer>4</integer>
	</dict>
	<key>7</key>
	<dict>
		<key>bit</key>
		<integer>0</integer>
		<key>byte</key>
		<integer>3</integer>
		<key>kb</key>
		<integer>6</integer>
		<key>mb</key>
		<integer>7</integer>
		<key>gb</key>
		<integer>8</integer>
		<key>tb</key>
		<integer>9</integer>
	</dict>
	<key>8</key>
	<dict>
		<key>USD</key>
		<string>USD</string>
		<key>TWD</key>
		<string>TWD</string>
	</dict>
</dict>
</plist>
